.icon-left {
    position: absolute;
    top:10px;
    left:10px;
}

.icon-right {
    position: absolute;
    right:10px;
    bottom: 10px;;
}

.season-display {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.season-display.winter > i {
    color: darkblue;
}

.season-display.summer > i {
    color: darkorange;
}

.summer {
    background-color:rgb(255, 203, 59);
}

.winter {
    background-color:aliceblue;
}